<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mplayer_remote"
    android:versionCode="11"
    android:versionName="0.2.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name=".ServerList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsForAPP"
            android:parentActivityName=".ServerList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mplayer_remote.ServerList" />
        </activity>

        <activity
            android:name=".FileChooser"
            android:parentActivityName=".ServerList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mplayer_remote.ServerList" />
        </activity>

        <activity
            android:name=".RemoteControl"
            android:parentActivityName=".FileChooser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mplayer_remote.FileChooser" />
        </activity>
        <activity
            android:name=".SubtitleFileChooser"
            android:parentActivityName=".RemoteControl">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mplayer_remote.RemoteControl" />
        </activity>

        <service
            android:name=".ConnectAndPlayService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".NotyficationActionReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
